@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
    font-family: poppins;
}

body {
    background: linear-gradient(300deg, #eee, #aaa);
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    background: white;
    border: none;
    outline: none;
    border-radius: 100px;
    width: 400px;
    height: 70px;
    padding: 30px;
    font-size: 18px;
    position: absolute;
    top:-200px;
    bottom: 0;
    left: 20px;
    right: 0;
    margin: auto;
    transition: 0.3s;
}

input.focus {
    background: rgb(30, 28, 28);
    color: white;
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.5em;
}

h2 img {
    animation: hovering 0.5s infinite alternate;

    @keyframes hovering {
        from {transform: translateY(-2px)}
        to {transform: translateY(2px)}
    }

    &:nth-of-type(1) {
        animation-delay: 0.3s;
    }
}



// Loader

$speed: 2.5s;

* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

html, body {
  min-height: 100%;
}

body {
  background: radial-gradient(#eee,#444);
}

.loader {
  position: absolute;
  top: -500px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  width: 175px;
  height: 100px;
  span {
    display: block;
    background: #ccc;
    width: 7px;
    height: 10%;
    border-radius: 14px;
    margin-right: 5px;
    float: left;
    margin-top: 25%;
    &:last-child {
      margin-right: 0px;
    }
    &:nth-child(1) {
      animation: load $speed 1.4s infinite linear;
    }
    &:nth-child(2) {
      animation: load $speed 1.2s infinite linear;
    }
    &:nth-child(3) {
      animation: load $speed 1s infinite linear;
    }
    &:nth-child(4) {
      animation: load $speed 0.8s infinite linear;
    }
    &:nth-child(5) {
      animation: load $speed 0.6s infinite linear;
    }
    &:nth-child(6) {
      animation: load $speed 0.4s infinite linear;
    }
    &:nth-child(7) {
      animation: load $speed 0.2s infinite linear;
    }
    &:nth-child(8) {
      animation: load $speed 0s infinite linear;
    }
    &:nth-child(9) {
      animation: load $speed 0.2s infinite linear;
    }
    &:nth-child(10) {
      animation: load $speed 0.4s infinite linear;
    }
    &:nth-child(11) {
      animation: load $speed 0.6s infinite linear;
    }
    &:nth-child(12) {
      animation: load $speed 0.8s infinite linear;
    }
    &:nth-child(13) {
      animation: load $speed 1s infinite linear;
    }
    &:nth-child(14) {
      animation: load $speed 1.2s infinite linear;
    }
    &:nth-child(15) {
      animation: load $speed 1.4s infinite linear;
    }
  }
}

@keyframes load {
  0% {
    background: #cccccc;
    margin-top: 25%;
    height: 10%;
  }
  50% {
    background: #646767;
    height: 100%;
    margin-top: 0%;
  }
  100% {
    background: #ccc;
    height: 10%;
    margin-top: 25%;
  }
}